/***********************************
====================================
Landing Page Styles
(C) Joseph Aboagye
====================================
***********************************/

/*--------------------------------
Global Styles
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: rgb(255, 255, 255);
  color: #0e0f0f;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.Intro_End {
  margin: 0 auto;
  padding: 2px 0;
}
h1 {
  line-height: 1;
  color: rgb(12, 11, 11);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  border-radius: 10px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
}
header,
footer {
  text-align: center;
}

/* Introduction
------------------------------------*/
header {
  background: repeating-linear-gradient(
    to left,
    #6a4d81,
    #e0de39,
    rgb(2, 255, 23)
  );
  border-bottom: 1px solid silver;
}
.Expose {
  color: black;
  font-weight: 600;
  font-style: italic;
}
header a {
  color: #0e0f0f;
}
header a:hover {
  text-decoration: none;
  color: #fd0202;
}

/* All About Project
------------------------------------ */
#History {
  margin: 10px 50px;
  text-align: center;
}
.CntrlKeys {
  background-color: #175046;
  display: inline-block;
  border-radius: 4px;
  padding: 20px 30px;
  margin-top: 0%;
  list-style-type: "\1F4BB";
}
.Game {
  border-bottom: 1px solid silver;
}
.Developers,
.Game {
  background-color: #0c090a;
  margin: 0 0;
  padding: 2px 0;
  color: #ffffff;
}
h2 {
  text-align: center;
}
h3 {
  text-align: justify;
}
figure img {
  border-radius: 50%;
}
.btn a {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
  display: inline-block;
  margin: 0.2rem;
}
#GitHub {
  background: none;
  border-radius: none;
  display: inline;
  color: #614b04;
}

/* Ending
-------------------------------------*/
footer {
  background: black;
  border-top: 1px solid silver;
}
.Text-Content {
  color: rgb(252, 252, 252);
  font-weight: 600;
  font-style: italic;
}
.Text-Content a {
  color: #ffffff;
  background: none;
}
.Text-Content a:hover {
  text-decoration: none;
  color: #fd0202;
}

/* Responsive
------------------------------------*/
@media screen and (min-width: 721px) {
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  h1 {
    font-size: 80px;
  }
  #History {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .Game_Cntrls h3 {
    text-align: center;
  }
  .Dev-Profile {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  h1 {
    font-size: 50px;
  }
  #History {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  .Dev-Profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
