/***********************************
====================================
Landing Page Styles
(C) Joseph Aboagye
====================================
***********************************/

/*--------------------------------
Global Styles
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.Intro_End {
  margin: 0 auto;
  padding: 2px 0;
}
h1 {
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  border-radius: 10px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
}
header,
footer {
  text-align: center;
}
a {
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #fd0202;
}

/* Introduction
------------------------------------*/
header {
  background-image: url(images/clark-van-der.jpg);
  background-size: contain;
  border-bottom: 1px solid silver;
  color: rgb(255, 1, 1);
}
.Expose {
  font-weight: 600;
  font-style: italic;
  color: rgb(255, 208, 1);
}

/* All About Project
------------------------------------ */
#History {
  margin: 10px 50px;
  text-align: center;
}
.CntrlKeys {
  background: repeating-linear-gradient(
    to bottom,
    #420177,
    #757301,
    rgb(0, 102, 9)
  );
  display: inline-block;
  border-radius: 4px;
  padding: 20px 30px;
  margin-top: 0%;
  list-style-type: "\1F4BB";
}
.Game {
  background-image: url(images/darius-cotoi.jpg);
}
.Developers {
  background-image: url(images/jonathan-bean.jpg);
  background-size: cover;
  background-position: left;
}
.Developers,
.Game {
  margin: 0 0;
  padding: 2px 0;
}
.For_ALX {
  color: rgb(3, 220, 248);
}
h2 {
  text-align: center;
}
h3 {
  text-align: justify;
}
figure img {
  border-radius: 50%;
}
.btn a {
  background: #2f3061;
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
  display: inline-block;
  margin: 0.2rem;
}
.GitHub {
  display: inline;
  color: #ac8505;
}

/* Ending
-------------------------------------*/
footer {
  background: black;
  border-top: 1px solid silver;
}
.Text-Content {
  font-weight: 600;
  font-style: italic;
}
.Text-Content a {
  background: none;
}
.Links {
  color: #fce302;
}
.Links a {
  color: #805e01;
}

/* Responsive
------------------------------------*/
@media screen and (min-width: 721px) {
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  h1 {
    font-size: 80px;
  }
  #History {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .Game_Cntrls h3 {
    text-align: center;
  }
  .Dev-Profile {
    display: flex;
    justify-content: center;
  }
  .Links {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 720px) {
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  h1 {
    font-size: 50px;
  }
  #History {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  .Dev-Profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Links {
    display: inline-block;
    text-align: justify;
  }
}
